body {
  background: #ccc;
  color: #333;
}
.App {
  margin-top: 30px;
  text-align: center;
}
.container {
  width: 40%;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
